# Cass 3: Pivot Tables

In [1]:
import pandas as pd
import numpy as np

### Parameters  of PivotTables

* Data
* Values
* Index
* Columns
* Aggfunc
* Fill_values
* Margins

In [2]:
x = { 'Company': ['Ford', 'Ford', 'VW', 'Audi', 'Audi', 'Ford'],
     'Price': [2, 3, 1, 2, 3, 1],
     'Weight': [4, 6, 2, 2, 4, 3],
     'Length': [6, 7, 3, 6, 8, np.nan], # np <- from Numpy Library; nan <- Not a Numeric Value
     'Made': ['China', 'Mexico', 'Mexico', 'Corea', 'UK', 'UK'],
    }
df = pd.DataFrame(data = x)
df

  Company  Price  Weight  Length    Made
0    Ford      2       4     6.0   China
1    Ford      3       6     7.0  Mexico
2      VW      1       2     3.0  Mexico
3    Audi      2       2     6.0   Corea
4    Audi      3       4     8.0      UK
5    Ford      1       3     NaN      UK

### Check if the data is good

In [3]:
df.isnull().values.any()

True

In [4]:
df.isnull().sum()

Company    0
Price      0
Weight     0
Length     1
Made       0
dtype: int64

### Check each column, check which one has the problem

In [5]:
df['Price'].isnull().values.any()

False

In [6]:
df['Made'].isnull().values.any()

False

In [7]:
df['Weight'].isnull().values.any()

False

In [8]:
df['Length'].isnull().values.any()

True

In [9]:
df['Length'].fillna(value = df['Length'].mean(),
                    inplace = True
                   )
df

  Company  Price  Weight  Length    Made
0    Ford      2       4     6.0   China
1    Ford      3       6     7.0  Mexico
2      VW      1       2     3.0  Mexico
3    Audi      2       2     6.0   Corea
4    Audi      3       4     8.0      UK
5    Ford      1       3     6.0      UK

### What is the price of audi cars made in china?

In [10]:
pd.pivot_table(df,
               index = 'Company', 
               values = ['Price', 'Weight'],
               aggfunc = {'Price':np.mean, 
                          'Weight':np.sum},
               columns = 'Made',
               margins = True, 
               margins_name = '||**GrandTotal**||'
              )

                   Price                                      Weight        \
Made               China Corea Mexico   UK ||**GrandTotal**||  China Corea
Company
Audi                 NaN   2.0    NaN  3.0                2.5    NaN   2.0
Ford                 2.0   NaN    3.0  1.0                2.0    4.0   NaN
VW                   NaN   NaN    1.0  NaN                1.0    NaN   NaN
||**GrandTotal**||   2.0   2.0    2.0  2.0                2.0    4.0   2.0


Made               Mexico   UK ||**GrandTotal**||
Company
Audi                  NaN  4.0                  6
Ford                  6.0  3.0                 13
VW                    2.0  NaN                  2
||**GrandTotal**||    8.0  7.0                 21

In [11]:
%ls datasets/

adult.csv                  census.csv     nhanes_2015_2016.csv
airline_data.csv           coches.csv     pokemon.csv
antropometria00.csv        cwurData.csv   reg_data.csv
antropometria-dataset.csv  data.csv       sample_pivot.csv
Book3.csv                  headbrain.csv  tips.csv
Canada.xlsx                mic2.xlsx      weight-height.csv
Cartwheeldata.csv          movies.csv

In [12]:
df = pd.read_csv('datasets/census.csv')
df.head(20)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50,3,6,1,11,Alabama,Bullock County,10914,10915,10887,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
7,50,3,6,1,13,Alabama,Butler County,20947,20946,20944,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
8,50,3,6,1,15,Alabama,Calhoun County,118572,118586,118437,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
9,50,3,6,1,17,Alabama,Chambers County,34215,34170,34098,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901
10,50,3,6,1,19,Alabama,Cherokee County,25989,25986,25976,...,6.339327,1.113180,5.488706,-0.076806,-3.239866,6.416167,1.420264,5.757384,0.230419,-2.931307
11,50,3,6,1,21,Alabama,Chilton County,43643,43631,43665,...,-1.372935,-2.653369,0.480044,0.456017,-2.253483,-0.823761,-2.447504,0.868651,0.957636,-1.752709
12,50,3,6,1,23,Alabama,Choctaw County,13859,13858,13841,...,-15.455274,-0.737028,-8.766391,-1.274984,-5.291205,-15.528177,-0.737028,-8.766391,-1.274984,-5.291205
13,50,3,6,1,25,Alabama,Clarke County,25833,25840,25767,...,-6.194363,-17.667705,-0.318345,-8.686428,-5.613667,-6.077488,-17.509958,-0.159172,-8.486280,-5.411736
14,50,3,6,1,27,Alabama,Clay County,13932,13932,13880,...,-10.744102,-13.345130,4.902871,5.702648,3.912450,-10.816697,-13.345130,4.977157,5.776708,3.986270
15,50,3,6,1,29,Alabama,Cleburne County,14972,14972,14973,...,-3.673524,-5.151880,7.345821,3.654485,-3.123961,-3.673524,-5.151880,7.345821,3.654485,-3.123961
16,50,3,6,1,31,Alabama,Coffee County,49948,49948,50177,...,0.377640,7.675579,-13.146535,-3.602859,2.214774,2.166460,11.513368,-10.438741,-0.767822,5.350738
17,50,3,6,1,33,Alabama,Colbert County,54428,54428,54514,...,-0.073423,1.065051,1.762390,1.835688,-0.110260,0.513964,1.469035,2.276420,2.533249,0.588052
18,50,3,6,1,35,Alabama,Conecuh County,13228,13228,13208,...,-4.861559,-7.504690,-6.107224,-14.645416,2.684140,-4.861559,-7.504690,-6.107224,-14.645416,2.684140
19,50,3,6,1,37,Alabama,Coosa County,11539,11758,11758,...,-33.930581,-10.291443,-4.313831,-22.958017,-5.387581,-34.017138,-10.380162,-4.403703,-23.049483,-5.387581

In [13]:
x = df.columns.tolist()
x.sort()
x

['BIRTHS2010',
 'BIRTHS2011',
 'BIRTHS2012',
 'BIRTHS2013',
 'BIRTHS2014',
 'BIRTHS2015',
 'CENSUS2010POP',
 'COUNTY',
 'CTYNAME',
 'DEATHS2010',
 'DEATHS2011',
 'DEATHS2012',
 'DEATHS2013',
 'DEATHS2014',
 'DEATHS2015',
 'DIVISION',
 'DOMESTICMIG2010',
 'DOMESTICMIG2011',
 'DOMESTICMIG2012',
 'DOMESTICMIG2013',
 'DOMESTICMIG2014',
 'DOMESTICMIG2015',
 'ESTIMATESBASE2010',
 'GQESTIMATES2010',
 'GQESTIMATES2011',
 'GQESTIMATES2012',
 'GQESTIMATES2013',
 'GQESTIMATES2014',
 'GQESTIMATES2015',
 'GQESTIMATESBASE2010',
 'INTERNATIONALMIG2010',
 'INTERNATIONALMIG2011',
 'INTERNATIONALMIG2012',
 'INTERNATIONALMIG2013',
 'INTERNATIONALMIG2014',
 'INTERNATIONALMIG2015',
 'NATURALINC2010',
 'NATURALINC2011',
 'NATURALINC2012',
 'NATURALINC2013',
 'NATURALINC2014',
 'NATURALINC2015',
 'NETMIG2010',
 'NETMIG2011',
 'NETMIG2012',
 'NETMIG2013',
 'NETMIG2014',
 'NETMIG2015',
 'NPOPCHG_2010',
 'NPOPCHG_2011',
 'NPOPCHG_2012',
 'NPOPCHG_2013',
 'NPOPCHG_2014',
 'NPOPCHG_2015',
 'POPESTIMATE2010',
 'POPESTIMATE2011',
 'POPESTIMATE2012',
 'POPESTIMATE2013',
 'POPESTIMATE2014',
 'POPESTIMATE2015',
 'RBIRTH2011',
 'RBIRTH2012',
 'RBIRTH2013',
 'RBIRTH2014',
 'RBIRTH2015',
 'RDEATH2011',
 'RDEATH2012',
 'RDEATH2013',
 'RDEATH2014',
 'RDEATH2015',
 'RDOMESTICMIG2011',
 'RDOMESTICMIG2012',
 'RDOMESTICMIG2013',
 'RDOMESTICMIG2014',
 'RDOMESTICMIG2015',
 'REGION',
 'RESIDUAL2010',
 'RESIDUAL2011',
 'RESIDUAL2012',
 'RESIDUAL2013',
 'RESIDUAL2014',
 'RESIDUAL2015',
 'RINTERNATIONALMIG2011',
 'RINTERNATIONALMIG2012',
 'RINTERNATIONALMIG2013',
 'RINTERNATIONALMIG2014',
 'RINTERNATIONALMIG2015',
 'RNATURALINC2011',
 'RNATURALINC2012',
 'RNATURALINC2013',
 'RNATURALINC2014',
 'RNATURALINC2015',
 'RNETMIG2011',
 'RNETMIG2012',
 'RNETMIG2013',
 'RNETMIG2014',
 'RNETMIG2015',
 'STATE',
 'STNAME',
 'SUMLEV']

In [15]:
avBi = pd.pivot_table(df,
                      index = 'STNAME',
                      values = ['BIRTHS2010', 'BIRTHS2011'],
                      aggfunc = 'median',
                      #columns = 'COUNTY',
                     )
avBi

                      BIRTHS2010  BIRTHS2011
STNAME
Alabama                    111.0       441.0
Alaska                      24.5       119.5
Arizona                    440.5      1787.5
Arkansas                    54.5       238.0
California                 574.0      2440.0
Colorado                    38.0       149.0
Connecticut                656.0      2763.0
Delaware                  1139.0      4551.5
District of Columbia      2243.0      9196.0
Florida                    235.0       955.0
Georgia                     64.5       272.5
Hawaii                     535.0      2244.0
Idaho                       48.0       177.0
Illinois                    69.0       304.0
Indiana                    106.0       400.0
Iowa                        47.0       160.0
Kansas                      21.0        90.0
Kentucky                    56.0       219.0
Louisiana                  102.0       458.0
Maine                      132.0       493.0
Maryland                   364.0      1482.0
Massachusetts             1328.0      5535.0
Michigan                   109.5       425.0
Minnesota                   68.5       270.0
Mississippi                 77.0       328.0
Missouri                    52.5       230.0
Montana                     18.0        78.0
Nebraska                    19.5        71.0
Nevada                      65.5       286.0
New Hampshire              186.0       760.0
New Jersey                1227.0      4745.0
New Mexico                  88.0       329.0
New York                   248.0       934.0
North Carolina             147.0       608.0
North Dakota                10.0        41.0
Ohio                       163.0       615.0
Oklahoma                    68.5       291.0
Oregon                     126.0       441.0
Pennsylvania               231.0       889.0
Rhode Island               322.5      1271.5
South Carolina             184.0       691.0
South Dakota                17.0        69.0
Tennessee                   87.0       341.5
Texas                       53.0       221.0
Utah                        83.5       358.5
Vermont                    101.0       323.0
Virginia                    68.0       260.5
Washington                 164.0       685.0
West Virginia               64.5       274.0
Wisconsin                  120.0       432.0
Wyoming                     65.0       220.5

In [ ]:
type(avBi)

In [ ]:
avBi.loc['Alabama', :].to_frame()

In [ ]:
avBi['BIRTHS2010'].describe()